# DoD

# Ignore art saves, these will only be handled via main PC
Art_Saves/

# Don't need the builds of the game
Builds/

# Don't need artifacts, namely the artifactDB file
Shmup/Library/Artifacts/*
Shmup/Library/ArtifactDB.*

